body
{
    background-color: lightgray;
}
div.fixed {
  position: absolute;
  width: 50%;
  bottom: 10px;
} 
.image
{
    
    width: 60%;
    transform: translate(-4%,7%);
}

.nav
{
    position: absolute;
    width: 100%;
    background-color: gold;
    height: 10%;
    transform: translate(-1%,-60%);
}

#check
{
    display: none;
}
label #btn
{
    position: absolute;
    cursor: pointer;
    
}

.image2
{    
    margin-left: 2%;
    margin-top: 8px;
    float: right;
    width:60%;
    height: 100%;
}
h1   
{
    position: absolute;
    color:black;
    margin-top: 20%;
    font-family:sans-serif;
}
.h{
    text-align: center;
    position: absolute;
    width: 20%;
    height: 40%;
    border-style:groove;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 5%;
}
.h:hover{
    background: gold;
    transition: all 1.0s ease;
}
.learn
{
    position: absolute;
    top: 80%;
    font-size: 20px;

    height: 50px;
    border-radius: 10px;
    border-color: gold;
    text-decoration: none;
}
.learn:hover{
    background-color: black;
    border-color: black;
    color: white;
     transition: all 1.0s ease;
    cursor: pointer;
}

#fb
{
    position: absolute;
    float: right;
    margin-right: 90%;
}
.quote{
    position: absolute;
    float: right;
    margin-top: 80px;
    margin-left: 580px;
    color: white;
    
}
.box{
    
    position: absolute;
    margin-top: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.img2
{
    width: 100%;
    height: 100%;
    
}
.show
{
    position: absolute;
    top: 90%;
    right: 50%;
    text-decoration: none;
    color: whitesmoke;
}
.show:hover
{
    background-color: gold;
    transition:0.8s ease;
    height: 25px;
    color: brown;
}
.box1
{
    position: absolute;
    color: white;
    top: 40%;
    border: 1px solid black;
    margin-left: 20%;
    height: 30%;
    width: 15%;
}